/* Menu Styles */
ul
		{
    			list-style-type: none;
    			margin:0;
    			padding:0;
    			background-color: #a50044;
		}

li a
		{
    		display: block;
    		color:#ffffff;
			  padding:8px 0px;
   			text-decoration:none;
		}
	
li a.active
		{
    			background-color:#004d98;
    			color:white;
		}

li a:hover:not(.active)
		{
    			background-color:#ffed02;
    			color: 000000;
		}

/* Container Styles */
#container
                {
			height:100%;
			width:100%;
			
		}

#title
		{
			background-color:#004098;
			height:33px;
			color: White;
			margin-bottom:0;
			text-align:center;
		}
#navagationleft
		{
			background-color:#db0030;
			height:90%;
			width:150px;
			float:left;
			text-align:center;
		}

#content
		{
			background-color:lightgray;
			height:90%;
			width:auto;
			padding: 5px 5px 0p;
		}

#navigationright
		{
			background-color:#edbb00;
			height:90%;
			width: 350px;
			float:right;
			text-align:left;
			padding:0px 5px 0px 5px; 
		}
#footer
		{
			background-color:#004098;
			height:15px;
			clear:both;
			text-align:center;
			color: white;
			padding:0px 5px 0px 5px;
		}
