/* Menu Styles */
ul
		{
    			list-style-type: none;
    			margin:0;
    			padding:0;
    			width:8vw;
    			background-color: #126872;
		}

li a
		{
    			display: block;
    			color:#88F9D4;
   			padding:8px 16px;
   			text-decoration:none;
		}
	
li a.active
		{
    			background-color:#89D9E5;
    			color:#455C82;
		}

li a:hover:not(.active)
		{
    			background-color:#88F9D4;
    			color:#126872;
		}

/* Container Styles */

#title
		{
			background-color:#031727;
			height:15vh;
			color:#18C29C;
			margin-bottom:0;
			text-align:center;
		}
#navagationleft
		{
			background-color:#126872;
			height:90vh;
			width:8vw;
			float:left;
			text-align:center;
		}

#content
		{
			background-color:#0B877D;
			height:90vh;
			width:70vw;
		}

#navigationright
		{
			background-color:#126872;
			height:90vh;
			float:right;
			text-align:left;
		}
#footer
		{
			background-color:#18C29C;
			height:3vh;
			clear:both;
			text-align:center;
		}
