/* Menu Styles */
ul
		{
    			list-style-type: none;
    			margin:0;
    			padding:0;
    			background-color: #126872;
		}

li a
		{
    			display: block;
    			color:#88F9D4;
			/*padding:8px 16px;*/
   			text-decoration:none;
		}
	
li a.active
		{
    			background-color:#89D9E5;
    			color:#455C82;
		}

li a:hover:not(.active)
		{
    			background-color:#88F9D4;
    			color:#126872;
		}

/* Container Styles */
#container
                {
			height:100%;
			width:100%;
			
		}

#title
		{
			background-color:#031727;
			height:33px;
			color:#18C29C;
			margin-bottom:0;
			text-align:center;
		}
#navagationleft
		{
			background-color:#126872;
			height:90%;
			width:150px;
			float:left;
			text-align:center;
		}

#content
		{
			background-color:#0B877D;
			height:90%;
			width:auto;
		}

#navigationright
		{
			background-color:#126872;
			height:90%;
			width: 350px;
			float:right;
			text-align:left;
		}
#footer
		{
			background-color:#18C29C;
			height:15px;
			clear:both;
			text-align:center;
		}
